/vendor
/node_modules
.env
/storage/*.key
/bootstrap/cache
/public/build
/public/hot
/storage/framework/sessions
/storage/framework/cache
/storage/framework/views
/.idea
/.vscode
*.log
.DS_Store
Thumbs.db
composer.phar
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.backup
.phpunit.cache